<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">

	<test name="createParkingLot">
		<parameter name="testSceanriosfilePath" value="src/test/resources/createParkingLotTestScenarios.csv" />
		<classes>
			<class name="com.gojek.bl.ParkingLotImplTest" />
			<methods>
				<include name="createParkingSlotsTest" />

			</methods>
		</classes>
	</test>
 
	<test name="Park">
		<parameter name="testSceanriosfilePath" value="src/test/resources/parkTestScenarios.csv" />
		<classes>
			<class name="com.gojek.bl.ParkingLotImplTest" />
			<methods>
				<include name="parkTest" />

			</methods>
		</classes>
	</test>
	
	<test name="leave">
		<parameter name="testSceanriosfilePath" value="src/test/resources/leaveTestScenarios.csv" />
		<classes>
			<class name="com.gojek.bl.ParkingLotImplTest" />
			<methods>
				<include name="leaveTest" />

			</methods>
		</classes>
	</test>
	
	<test name="status">
		<parameter name="testPrerequisitesfilePath" value="src/test/resources/statusTestPrerequisite.csv" />
		<parameter name="testSceanriosfilePath" value="src/test/resources/statusTestPrerequisite.csv" />
		<classes>
			<class name="com.gojek.bl.ParkingLotImplTest" />
			<methods>
				<include name="statusTest" />
				<include name="statusPrerequisite" />
			</methods>
		</classes>
	</test>
	<test name="registration_numbers_for_cars_with_colour">
		<parameter name="testPrerequisitesfilePath" value="src/test/resources/statusTestPrerequisite.csv" />
		<parameter name="testSceanriosfilePath" value="src/test/resources/registrationNumbersForCarsWithColourTestScenarios.csv" />
		<classes>
			<class name="com.gojek.bl.ParkingLotImplTest" />
			<methods>
				<include name="registrationNumbersForCarsWithColour" />
				<include name="statusPrerequisite" />
			</methods>
		</classes>
	</test>
	
	<test name="slot_numbers_for_cars_with_colour">
		<parameter name="testPrerequisitesfilePath" value="src/test/resources/statusTestPrerequisite.csv" />
		<parameter name="testSceanriosfilePath" value="src/test/resources/slotNumbersForCarsWithColourTestScenarios.csv" />
		<classes>
			<class name="com.gojek.bl.ParkingLotImplTest" />
			<methods>
				<include name="slotNumbersForCarsWithColour" />
				<include name="statusPrerequisite" />
			</methods>
		</classes>
	</test>
	
	<test name="slot_number_for_registration_number">
		<parameter name="testPrerequisitesfilePath" value="src/test/resources/statusTestPrerequisite.csv" />
		<parameter name="testSceanriosfilePath" value="src/test/resources/slotNumbersForRegistrationNumberTestScenarios.csv" />
		<classes>
			<class name="com.gojek.bl.ParkingLotImplTest" />
			<methods>
				<include name="slotNumbersForRegistrationNumber" />
				<include name="statusPrerequisite" />
			</methods>
		</classes>
	</test>
	
</suite> <!-- Suite -->